
#nav-bar {
    padding-top: 20px;

    height: 50px;

    display: flex;

    align-items: center;
    justify-content: center;

    position: relative;
}

.nav-bar-logo {
    height: 45px;

    left: 2%;

    position: absolute;
}

#nav-bar-nav {
    position: relative;

    @media (orientation: portrait) {
        margin-left: 45px;
    }
}

#nav-bar-nav > input {
    width: 65vw;
    height: 35px;

    max-width: 840px;

    border-radius: 10px;

    background-color: rgb(var(--primary-gray));
    border: 2px solid rgb(var(--secondary-gray));
    color: white;
    outline: none;

    padding: 0 30px;

    @media (orientation: portrait) {
        width: 70vw;
    }
}

#nav-bar-nav > svg {
    color: rgb(var(--primary-accent));

    position: absolute;

    top: 50%;
    left: 10px;

    transform: translateY(-50%);

    font-size: 100%;
}